extends layout

block content
  .container
    .row
      .col-xs-12
        h1.text-center= title
          .small Welcome to #{title}
    .row
      .col-xs-4
        .row.text-center 登录接口
        .table-bordered(style='padding:15px 15px 0px 15px')
          form.form-horizontal(method='POST', action='/api/user/login')
            .form-group
              label.col-xs-4.control-label(for=username) 用户名:
              .col-xs-8
                input#username.form-control(name='user[username]', type="text", placeholder="用户名")
            .form-group
              label.col-xs-4.control-label(for=password) 密码:
              .col-xs-8
                input#password.form-control(name='user[password]', type="password", placeholder="密码")
            .form-group
              .col-xs-offset-5.col-xs-2
                button.btn.btn-default(type=submit) 登陆
      .col-xs-4
        .row.text-center 注册接口
        .table-bordered(style='padding:15px 15px 0px 15px')
          form.form-horizontal(method='POST' action='/api/user/register')
            .form-group
              label.col-xs-4.control-label(for=username) 用户名:
              .col-xs-8
                input#username.form-control(name='user[username]', type="text", placeholder="用户名")
            .form-group
              label.col-xs-4.control-label(for=password) 密码:
              .col-xs-8
                input#password.form-control(name='user[password]', type="password", placeholder="密码")
            .form-group
              label.col-xs-4.control-label(for=repeatPassword) 重复密码:
              .col-xs-8
                input#repeatPassword.form-control(name='user[repeatPassword]', type="password", placeholder="重复密码")
            .form-group
              .col-xs-offset-5.col-xs-2
                button.btn.btn-default(type=submit) 注册
      .col-xs-4
        .row.text-center 登录接口
        .table-bordered(style='padding:15px 15px 0px 15px')
          form.form-horizontal
            .form-group
              label.col-xs-4.control-label(for=username) 用户名:
              .col-xs-8
                input#username.form-control(type="text", placeholder="用户名")
            .form-group
              label.col-xs-4.control-label(for=password) 密码:
              .col-xs-8
                input#password.form-control(type="password", placeholder="密码")
            .form-group
              .col-xs-offset-5.col-xs-2
                button.btn.btn-default(type=submit) 登陆